<style>
h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    }
li {
    padding-top: 8px;
    padding-bottom: 8px;
    }
</style>


{% extends "layout.html" %}

{% block title %}
    Book Page
{% endblock %}

{% block main %}
    <h1>Book Details</h1>

    <div class="row">
      <div class="col-sm-5">
        <ul>
          <li>ISBN number: {{ book.isbn }}</li>
          <li>Title: {{ book.title }}</li>
          <li>Author: {{ book.author }}</li>
          <li>Year: {{ book.year }}</li>
          <li>Average rating on goodreads: {{ rating[0] }}</li>
          <li>Number of ratings on goodreads: {{ rating[1] }}</li>
      </ul>  
      </div>
      <div class="col-sm-7">
        {% if show %}
        <form action="/submit" method="post" id="submitReviewForm">
          <div class="form-group">
            <label for="rating_number">How do you rate this book:</label>
            <select class="form-control" id="rating_number" name="rating_number">
              <option value="" disabled selected>Number of stars</option>
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=5>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="rating_review">Leave a review</label>
            <textarea class="form-control" id="rating_review" name="rating_review" rows="3"></textarea>
          </div>
          <input type="hidden" value= {{ book.book_id }} name="book_id"/>
          <button class="btn btn-primary" type="submit">Submit review</button>
        </form>
        {% endif %}
      </div>
    </div>

    <h1>Book Reviews</h1>

    <table id="BookReviewsTable" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">User</th>
          <th scope="col">Number of stars</th>
          <th scope="col">Review</th>
        </tr>
      </thead>
      <tbody>
        {% for review in reviews%}
        <tr>
          <td scope="col">{{ review.user_id }}</td>
          <td scope="col">{{ review.rating_nr }}</td>
          <td scope="col">{{ review.rating_txt }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <script>
      $(document).ready(function()
          {
              $('#BookReviewsTable').DataTable();
          });
      </script>
{% endblock %}
