{% extends "layout.html" %}

{% block title %}
    Search Results
{% endblock %}

{% block main %}

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Search results:</h4>
    </div>

    <table id="SearchResultsTable" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ISBN Number</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">year</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books%}
            <tr>
                <td scope="col">
                    <a href="{{ url_for('book', book_id=book.book_id) }}">
                        {{ book.isbn }}
                    </a>
                </td>
                <td scope="col">{{ book.title }}</td>
                <td scope="col">{{ book.author }}</td>
                <td scope="col">{{ book.year }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
    $(document).ready(function()
        {
            $('#SearchResultsTable').DataTable();
        });
    </script>

{% endblock %}
